*{
    box-sizing: border-box;
    font-family: 'Recursive', sans-serif;
}

main{
    background-color: #FB6B6B;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tela-inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.tela-inicial img{
    width: 55px;
    height: 65px;
}

.tela-inicial h1, .topo h1{
    font-family: 'Righteous', cursive;
    font-size: 36px;
    line-height: 31px;
    letter-spacing: -1.2%;
    color: #FFFFFF;
}

.tela-inicial select{
    width: 246px;
    height: 43px;
    margin-top: 45px;
    border-radius: 5px;
    border: #FFFFFF;
    color: #ADADAD;
}

.tela-inicial button{
    width: 246px;
    height: 54px;
    background-color: #FFFFFF;
    color: #D70900;
    border-radius: 4px;
    margin-top: 33px;
    border: solid 1px #D70900;
}

.topo{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.topo img{
    height: 60px;
    width: 52px;
    padding-right: 20px;
}

.topo h1{
    font-family: 'Righteous', cursive;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: -1.2%;
    color: #FFFFFF;
}

.perguntas{
    overflow-x: scroll;
    margin-bottom: 70px;
    margin-top: 150px;
    
}

.pergunta{
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
    font-weight: 700;
    border-radius: 5px;
}

.pergunta-questao, .pergunta-resposta{
    width: 300px;
    height: 130px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.pergunta-resposta-virada{
    display: flex;
    flex-direction: column;

}

.pergunta-resposta-opcoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pergunta-resposta-opcoes button{
    width: 86px;
    height: 37px;   
    margin: 5px;
    border-radius: 5px;
}

.opcoes-nao-lembrei{
    background-color: #FF3030;
    color: #FFFFFF;
}

.opcoes-quase-lembrei{
    background-color: #FF922E;
    color: #FFFFFF;
    
}

.opcoes-zap{
    background-color: #2FBE34;
    color: #FFFFFF;
}

.barra-inferior{
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.barra-inferior-ajustes{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.barra-inferior-extendida{
    height: 200px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.barra-inferior-extendida button{
    width: 167px;
    height: 32px;
    background-color: #FB6B6B ;
    color: #FFFFFF;
    border-radius: 5px;
}

.resultado{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo{
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    padding-bottom: 8px;
    display: flex;
}

.titulo img{
    margin-right: 8px;
}
.resultado p{
    font-family: 'Recursive', sans-serif;
    padding-bottom: 8px;
    padding-left: 5px;
}

.contagem{
    font-family: 'Recursive', sans-serif;
    text-align: center;
}

.errou{

    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
    color: red;
    text-decoration: line-through;

}

.quase{
 
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
    color: orange;
    text-decoration: line-through;

}

.zap{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
    color: green;
    text-decoration: line-through;
}

ion-icon{
    font-size: 26px;
}

.barra-inferior-icones {
    display: flex;
    padding-top: 8px;
}

.icone-errou{
    color: red;
}

.icone-quase{
    color: orange;
}

.icone-zap{
    color: green;
}


@media screen and (min-width: 1100px) {

    .tela-inicial img{
        width: 88px;
        height: 98px;
    }
    
    .tela-inicial h1, .topo h1{
        font-size: 56px;
    }

    .tela-inicial select{
        width: 346px;
        height: 53px;
        margin-top: 45px;
        border-radius: 5px;
        border: #FFFFFF;
        color: #ADADAD;
    }
    
    .tela-inicial button{
        width: 346px;
        height: 64px;
    }
    
    .topo{
        height: 150px
    }
    
    .topo img{
        height: 80px;
        width: 72px;
        padding-right: 20px;
    }
    
    .topo h1{
        font-size: 36px;
    }
    
    .perguntas{
        margin-bottom: 80px;
        margin-top: 150px;
        overflow-x: hidden;
    }
    
    .pergunta{
        width: 568px;
        height: 92px;
        padding: 15px;
        margin-bottom: 35px;
    }
    
    .pergunta-questao, .pergunta-resposta{
        width: 568px;
        height: 92px;
        padding: 15px;
        margin-bottom: 35px;
    }

    .pergunta-resposta-opcoes button{
        width: 90px;
        height: 45px;   
    }
    
    .barra-inferior{
        height: 80px;
    }

}